.bg-blue {
    background-color: #012169 !important;
}

.text-blue,
.last\:text-blue:last-child {
    color: #012169 !important;
}

/* svg,
svg path {
    fill: #012169 !important;
} */


.primary-btn {
    background: #012169;
    padding: 8px 18px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
}

.secondary-btn {
    border: 1px solid #012169;
    padding: 8px 18px;
    font-size: 14px;
    color: #012169;
    border-radius: 8px;
    font-weight: 600;
}