.bg-blue {
    background-color: #012169 !important;
}

.text-blue,
.last\:text-blue:last-child {
    color: #012169 !important;
}

.bg-secondary {
    background-color: #A0AEC0;
}

/* svg,
svg path {
    fill: #012169 !important;
} */


.primary-btn {
    background: #012169;
    padding: 10px 18px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    text-align: center;
    border: 1px solid transparent;
    font-weight: 600;
    transition: 0.2s;
}

.primary-btn:hover {
    border: 1px solid #012169;
    background-color: white;
    color: #012169;
}

.secondary-btn {
    border: 1px solid #012169;
    padding: 8px 18px;
    font-size: 14px;
    color: #012169;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.2s;
}

.secondary-btn:hover {
    background: #012169;
    color: white;
}

.kOdnNV {
    overflow: visible !important;
}

.ehkueD{
    min-width: 150px !important;
}